.page {
	display: flex;
}
.page a {
	display: block;
	border: 1px solid #ddd;
	padding: .3rem .8rem;
	margin-left: -1px;
}
.page a:hover {
	color: #fff;
	background-color: #16A085;
}
.page a:first-child {
	border-top-left-radius: .3rem;
	border-bottom-left-radius: .3rem;
}
.page a:last-child {
	border-top-right-radius: .3rem;
	border-bottom-right-radius: .3rem;
}
.current {
	color: #fff;
	background-color: #16A085;
}
